<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">SCRAPE YOUR WAY OUT IF YOU DARE</a>
        <ul class="right" id="nav-mobile1">
            <li><a href="https://slodway2019.github.io/All-The-News-That-s-Fit-Scrape/" target="_blank">Return to Github</a></li>
        </ul>
        <ul class="left" id="nav-mobile2">
            <li><a href="/scrape">SCRAPE</a></li>
        </ul>
    </div>
</nav>